asgiref==3.11.0
bandit==1.9.3
boolean.py==5.0
CacheControl==0.14.4
certifi==2026.1.4
charset-normalizer==3.4.4
cyclonedx-python-lib==11.6.0
defusedxml==0.7.1
dj-database-url==3.1.0
Django==6.0.1
django-axes==8.1.0
django-csp==4.0
django-grappelli==4.0.3
django-ratelimit==4.1.0
filelock==3.20.3
gunicorn==24.1.1
idna==3.11
license-expression==30.4.4
markdown-it-py==4.0.0
mdurl==0.1.2
msgpack==1.1.2
mysqlclient==2.2.7
packageurl-python==0.17.6
packaging==26.0
pillow==12.1.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.5.1
psycopg==3.3.2
psycopg-binary==3.3.2
py-serializable==2.1.0
Pygments==2.19.2
pyparsing==3.3.2
python-dotenv==1.2.1
PyYAML==6.0.3
requests==2.32.5
rich==14.3.1
sortedcontainers==2.4.0
sqlparse==0.5.5
stevedore==5.6.0
tomli==2.4.0
tomli_w==1.2.0
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.11.0
