Django>=6.0.1
django-axes>=5.26.0
# ratelimit functionality provided by django_ratelimit package
django-ratelimit>=4.1.0
django-csp>=4.0
# Production DB
dj-database-url>=1.0.0
psycopg[binary]>=3.1
# Dev tools
bandit>=1.8.1
pip-audit>=2.7.0
