{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% trans "CampusFix Super Admin" %}{% endblock %}

{% block branding %}
<div class="campusfix-branding">
    <a href="{% url 'admin:index' %}" id="site-name">
        <img src="{% static 'admin/img/campusfix-logo.svg' %}" alt="CampusFix" height="36">
        <span class="campusfix-title">CampusFix Super Admin</span>
    </a>
</div>
{% endblock %}

{% block extrahead %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/campusfix_admin.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/campusfix_admin_light.css' %}">
{% endblock %}
