{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Change Password | CampusFix</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<main class="dashboard-container">
    <section class="form-card">
        <h2 class="form-title">Change Password</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Current Password</label>
                <input type="password" name="old_password" id="old_password" required>
            </div>

            <div class="form-group">
                <label for="new_password1">New Password</label>
                <input type="password" name="new_password1" id="new_password1" required>
            </div>

            <div class="form-group">
                <label for="new_password2">Confirm New Password</label>
                <input type="password" name="new_password2" id="new_password2" required>
            </div>

            <button type="submit" class="btn-submit">Change Password</button>
             <a href="{% url 'dashboard_home' %}" class="btn-secondary" style="margin-top:1rem;">Back to Dashboard</a>
        </form>
    </section>
</main>
{% endblock %}

